
@import "ember-bootstrap/bootstrap";

.results {
  padding: 30px;
}

.center {
    display: block;
    margin: 0px auto 0px;
    width: 300px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
