
<div class="row justify-content-center">
    <div class="col col-md-auto">
        {{mesh-filter filter=(action 'filterByMeSH') }}
    </div>
</div>


{{#if loading}}
    {{my-ember-spinner}}
{{/if}}

<div class="results align-center">
    {{bar-chart
        data=groupCount
    }}
</div>
<div class="results">
    {{models-table
        data=model
        columns=columns
        showComponentFooter=true
        showColumnsDropdown=false
        showGlobalFilter=false
        filteringIgnoreCase=true
        showPageSize=true
        class="table-striped"
        useNumericPagination=true
    }}
</div>
