
<div class="center">
    {{mesh-filter filter=(action 'filterByMeSH') }}
</div>

<div class="results">
    {{bar-chart
        data=groupCount
    }}
    
    {{models-table
        data=model
        columns=columns
        showComponentFooter=true
        showColumnsDropdown=false
        showGlobalFilter=false
        filteringIgnoreCase=true
        showPageSize=true
        class="table-striped"
        useNumericPagination=true
    }}
</div>
